.left-nav{
  background-color: black;
  @media screen and(max-width: 1050px){
    display: none;
  }
  position: relative;
  width: 320px;
  .left-nav-container{
    display: flex;
    height: 94vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: sticky;
    top: 10px;
    
    .icons{
      display: flex;
      flex-direction: column;
      gap: 50px;
      .logo {
        width: 50px;
        height: 50px;
        
        img{
          width: 100%;
          height: 100%;
        }
      }
      .icons-bis{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .nav-link{
          width: fit-content;
        }
         
        .active-left-nav{
          color: $color-1!important;
        }
        
        .link-container{
          display: flex;
          justify-content: flex-start;
          align-items: center;

          gap: 10px;
          h3{
            color: $white;
            // @media screen and(max-width: 1200px) {
            //   display: none;
            // }
          }
        }
      }
      button{
        width: 100%;
        height: 50px;
        
        &:hover{
          background: $color-3;
        }
      }
    }
  }
  .popup-left-nav-container {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    animation: popup 1s forwards;

    @keyframes popup {
      to {
        backdrop-filter: blur(2px);
      }
    }

    .modal {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-100%);
      background: $color-4;
      padding: 25px;
      border-radius: 20px;
      box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
      overflow: auto;
      transform: scaleY(0);
      transform-origin: center;
      animation: modal .5s forwards;
      width: 600px;



      @keyframes modal {
        to {
          transform: scale(1) translate(-50%);
        }
      }

      .cross {
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.1s;
        cursor: pointer;
        z-index: 100;

        &:hover {
          transform: scale(1.07);
        }
      }
      .post-container{
        border: none;
      }
    }
  }
  
}