.right-side {
    margin-left: 20px;
    margin-right: 50px;
    position: relative;
    width: 320px;

    @media screen and(max-width: 815px) {
      display: none;
    }
  
    .right-side-container {
      position: sticky;
      top: 60px;
    
    }
  }